h1 #{title}

#content
	#user-list
		table(cellspacing=0, cellpadding=5, border=0)
			tr
				th Online
				th User
				th 
			- each user in users
				- var onlineString = user.online ? 'online' : '';
				tr(class=onlineString)
					td #{onlineString}
					td #{user.username}
					td 
						- if(user.last_action_date)
							abbr.timeago(title=user.last_action_date.toISOString()) #{user.last_action_date.toISOString()}
	#info
		p 
			strong Server Address:
			|  minecraft.example.com
		table(cellspacing=0, cellpadding=5, border=0)
			tr
				th(colspan=2) Status
			tr.online
				td Minecraft Server Beta 1.5_02
			tr.online
				td monsters
			tr.online
				td CraftBukkit 0.1 snapshot
			tr.online
				td Warps & Homes
			tr
				td CraftIRC (#grminecraft on freenode)
			tr.online
				td WorldEdit (admins only)
			tr
				td JSApi Plugin & tunnel boring machine
		p 
			strong Warp Points:
		ul
			li See /warp list for current warps
		p 
			strong Available Commands
		ul
			li /help [Page] - Shows a list of commands. 7 per page.
			li /online - Shows a list of players
			li /home - Teleports you home, see /home help for more commands
			li /me [Message] - * hey0 says hi!
			li /msg [Player] [Message] - Sends a message to player
			li /spawn - Teleports you to spawn
			li /motd - Displays the MOTD
		p 
			strong VIP Commands (if you help pay):
		ul
			li /item [ID] [Amount] <Player> - Gives items to yourself
			li /time [Time|day|night] - Changes time
			li /tp <Player> - Teleports you to named player
			li /whois <Player> - Info about player
			li /warp [warpname] - Warp to a warp point. See /warp help for more commands
			li /jumpto - Jumps to the block you're pointed at
		
		p.big-click
			a(href='/map/') View Map
