h1 Jfro's Minecraft Server

#content
	#user-list
		table(cellspacing=0, cellpadding=5, border=0)
			tr
				th Online
				th User
				th 
			- each user in users
				- var onlineString = user.online ? 'online' : '';
				tr(class=onlineString)
					td #{onlineString}
					td #{user.username}
					td 
						abbr.timeago(title=user.last_action_date) #{user.last_action_date}
	#info
		p 
			strong Server Address:
			| mc2.jfro.me
			br
			| Server is running hey0 mod + llamacraft bucket fix
		p 
			strong Warp Points:
		ul
			li LavaHQ - large underground cavern
			li CaveHouse1 - house near LavaHQ cavern
			li WestLake - lake west of spawn
			li CoolCave - cool large cave in side of mountain
			li DirtSpire - Tower north of spawn
			li Morlock - large mine
			li CrazyCaves - large complex cave system
			li LakeHole - giant excavation in a lake
		p.big-click
			a(href='/map/') View Map
		p
			| Help support hosting fees:
			br
			a(href='https://www.wepay.com/donate/start/60899')
				img(src='https://www.wepay.com/img/widgets/donate_with_wepay.png')
